@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@page {
    size: A4;
    margin: 0;
}

:root{
    --title: #043280;
    --title_alt: #0975be;
}


html,
body {
    font-family:  "Roboto", sans-serif;
    width: 210mm;
    height: 297mm;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}




.grid-container {
    display: grid;
    width: 210mm;
    height: 297mm;
    grid-template-columns: 5% 35% 60%;
    grid-template-rows: 10% 15% 75%;
}

.grid-item {
    text-align: center;
    color: black;
}

.grid-item-a {
    background-color: white;

    grid-column-start: 1;
    grid-column-end: 2;

    grid-row-start: 1;
    grid-row-end: 2;
}

.grid-item-b {
    background-color: #181818;
    color: white;

    grid-column-start: 2;
    grid-column-end: 3;

    grid-row-start: 1;
    grid-row-end: 2;
}

.grid-item-c {
    background-color: white;

    grid-column-start: 3;
    grid-column-end: 4;

    grid-row-start: 1;
    grid-row-end: 2;
}

.grid-item-d {
    background-color: var(--title);

    grid-column-start: 1;
    grid-column-end: 2;

    grid-row-start: 2;
    grid-row-end: 3;
}

.grid-item-e {
    background-color: var(--title);

    grid-column-start: 2;
    grid-column-end: 3;

    grid-row-start: 2;
    grid-row-end: 3;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
    .avatarContainer {
        width: 250px;
        height: 250px;
        border-radius: 50%;
        border: 5px solid var(--title);

        overflow:hidden;
    }
    .avatarContainer img{
        width:100%;
    }


.grid-item-f {
    background-color: var(--title);
    padding: 20px;

    grid-column-start: 3;
    grid-column-end: 4;

    grid-row-start: 2;
    grid-row-end: 3;
}

    .name {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
        color: white;

        text-transform: uppercase;
        font-weight: bold;

        gap: 5%;
        font-size: 3.5em;
    }

        .lastName{
            margin-left: 10%;
        }


.grid-item-g {
    background-color: white;

    grid-column-start: 1;
    grid-column-end: 2;

    grid-row-start: 3;
    grid-row-end: 4;
}

.grid-item-h {
    background-color: #181818;
    color: white;

    grid-column-start: 2;
    grid-column-end: 3;

    grid-row-start: 3;
    grid-row-end: 4;

    padding-top: 25%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

    .about-title{
        letter-spacing: 2px;
        font-size: 2.8em;
        margin-bottom: 5%;
    }

    .about-short{
        padding: 0 10%;;
        font-size: 1em;
        font-weight: 300;
    }

    .about-contact{
        margin-top: 6%;
        width: 100%;
        font-weight: 300;
        font-size: 1em;
    }

        .about-contact-list{
            text-decoration: none;
            margin: 0 10%;
        }

            .about-contact-item{
                display: flex;
                align-items: center;

                margin-top: 6%;
            }

            .about-contact-item > i{
                display: flex;
                align-items: center;
                justify-content: center;

                margin-right: 7%;
                

                color: black;

                font-size: 1em;
                border-radius: 50%;
                min-width: 30px;
                min-height: 30px;
                background-color: var(--title_alt);
            }

            .about-contact-item > span{
                text-align: left;
            }

        .about-lang{
            margin-top: 10%;
            width: 100%;
            
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

            .about-lang-title{
                border: 2px solid var(--title_alt);
                border-radius: 50px;
                width: 70%;

                padding: 3%;
            }

            .about-lang-content{
                margin-top: 6%;
                text-align: left;                
            }

                .lang-content-list{
                    list-style-type: disc;
                }

                    .lang-content-item{
                        margin-bottom: 10%;
                    }


        .about-expertise{
            margin-top: 5%;
            width: 100%;
            
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

            .about-expertise-title{
                border: 2px solid var(--title_alt);
                border-radius: 50px;
                width: 70%;

                padding: 3%;
            }

            .about-expertise-content{
                margin-top: 6%;
                text-align: left;
            }

                .expertise-content-list{
                    list-style-type: disc;
                }

                .expertise-content-item{
                    margin-bottom: 10%;
                }

.grid-item-i {
    background-color: white;

    grid-column-start: 3;
    grid-column-end: 4;

    grid-row-start: 3;
    grid-row-end: 4;

    max-width: 100%;
    padding-left: 5%;
}

    .main{
        text-align: left;
        margin-top: 7%;
        
        width: 90%
    }

    .main-title{
        color: white;
        background-color: var(--title);
        border-radius: 20px;
        padding: 2% 3%;
        width: 45%;
        text-align: center;
        font-size: 1.2em;
        letter-spacing: 1px;
    }

    .experience{
        width:100%;
    }

        .experience-content{
            margin-top: 5%;
            padding-left: 2%;
        }

        .experience-content-item-content{
            margin-top: 3%;
        }


    .education{
        margin-top: 7%;
    }

        .education-content{
            margin-top: 5%;
            padding-left: 2%;
        }

    
